<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='info.css')}}" />
</head>
<body>
    <header class="header">
        <a href="./" id="home"> <i class="fa-solid fa-house"></i></a>
        <span id="time"></span>
        <div class="reseau">
          <a id="ag">AGEEPP <i id="fag" class="fa-brands fa-facebook"></i></a>
          <a id="ac">ACEP <i id="fac" class="fa-brands fa-facebook"></i></a>
          
        </div>
      </header>
      <div class="bg_guide"></div>
    <section id="page_slider">
        <div id="slider">
            <img src="{{ url_for('static', filename='/slider/0.png')}}" alt="slider" id="slide">
            <div id="precedent" onclick="ChangeSlide(-1)"><</div>
            <div id="suivant" onclick="ChangeSlide(1)">></div>
        </div>
   
    </section>

    <section id="baspage">
        <div class="flexbaspage">
          <img src="{{ url_for('static', filename='philulaval.png')}}" alt="" />
          <div class="flextxt">
            <h2>
              Site de l’association de la faculté de philosphie de l’université
              Laval
            </h2>
            <h3>Collaboration de l’ageepp et de l’acep</h3>
            <h4>
              <a href=""> Qui sommes nous ? </a> | Plus d’informations sur le site
              de l’université laval :<a href=" https://www.fp.ulaval.ca">
                https://www.fp.ulaval.ca</a
              >
            </h4>
            <h4>
              Pour toute question/demande/suggestion : Contacte nous ! | Pour
              toute demande concernant le site : Jules.cot.1@ulaval.ca
            </h4>
          </div>
        </div>
      </section>
</body>
<script
    src="https://kit.fontawesome.com/2072588427.js"
    crossorigin="anonymous">
    
</script>
<script type="text/javascript" src="{{ url_for('static', filename='index.js')}}"></script>
</html>